/*
* Created by PhpStorm.
 * User: John
 * Date: 01/02/2017
 * Time: 20:25
 */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container-fluid
{
    height: 100%;
    width: 100% !important;

}



#floating-panel
{
    margin: auto;
    z-index: 5;
    font-family: inherit;
    display:block;
    width: 100%;
}
#topWrapper
{
    font-family: inherit;
    display:block !important;
    width: 100%;
    padding: 5px;
    text-align: center;
    margin: auto;
    font-size: 14px;
}
#buttons
{
    color: #ffffff;
    margin-top: auto;
    display:block !important;

}

.form-group
{
    width: 100%;
    text-align:center;
    display:inline-block;
}
.form-group #landing-submit
{
    margin: auto;

}

i {
    margin-right: 5px;
}


.input-group
{

  margin: auto;

}
#btnGetLocation
{
   background-color: #327772;
    color: #ffffff;
    margin: auto;
}

.footer{
    background-color: #222222;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: normal 16px sans-serif;

    padding: 20px 20px;
    margin-top: auto;
    margin-top: 10px;
}

.footer .footer-left p{
    color:  #ffffff;
    font-size: inherit;
   text-align: center;
    margin-top:5px ;
}




.menu navbar-brand {
    height: 20px;
}

.menu .nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.menu .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}
.img-responsive
{

    margin-top: 20px;
    padding: 0px;
}
#mytable
{
    width: 100%;
}
#mytable th
{
    text-align: center;
    border-top: 1px solid black;
}
.fa-shower
{
    width: 100%;
    margin: 2px;
    text-align: center;

}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #222222;
    margin: auto;
    padding: 0;
    border: 1px solid #222222;
    width: 40%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 2px;
    background-color: #222222;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #222222;
    color: #327772;
}




