/*
* Created by PhpStorm.
 * User: John
 * Date: 01/02/2017
 * Time: 09:13
 */

/* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
#map2
{
    height: 60%;
    width: 100%;
    padding: 10px;
    margin: auto;
    z-index: 4;

}

#matrix {
    position: relative;
    font-size: 10px;
    border-collapse: collapse;
    z-index: 20;
}

.origin,.destination {
    font-weight: bold;
    text-align: center;
    background-color: #e0ffe0;
}

td {
    border: 1px solid grey;
    width: 80px;
    cursor: default;
    background-color: #ffffff;
}


#map {

    height: 60%;
    width: 100%;
    padding: 10px;
    margin: auto;
    z-index: 9;

}
