/*
* Created by PhpStorm.
 * User: John
 * Date: 01/02/2017
 * Time: 09:13
 */

html, body {

    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
    float: left;
    width: 70%;
    height: 100%;
}
#right-panel {
    margin: 20px;
    border-width: 2px;
    width: 20%;
    height: 400px;
    float: left;
    text-align: left;
    padding-top: 0;
}
#directions-panel {
    margin-top: 10px;
    background-color: #FFEE77;
    padding: 10px;
}
#array-panel {
    margin-top: 10px;
    background-color: #FFEE77;
    padding: 10px;
}

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 70%;
    display: inline-block;
    width: 140px;
    text-align: right;
}

#right-panel i {
    font-size: 12px;
}

#gmap_type
{
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
table, th, td {
    border: 1px solid black;
}
#label {
    display: inline-block;
    width: 140px;
    text-align: right;
}
#mytable
{
    clear: both;
    border: black solid 1px;
    width: 60%;
}
#f{
    clear: both;
    float: left;
    width: 60%;
}